



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="ar" dir="rtl">

<head>
    <title>بدون اسم</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="DataTables/datatables.css" />
    <script src="DataTables/datatables.js"></script>
</head>

<body>
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>الرقم</th>
                <th>الجملة</th>
                <th>نوع</th>
                <th>حالة</th>
                <th>مصدر</th>
                <th>مرجع</th>
                <th>تاريخ الإضافة</th>                     
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>                
                <th>الرقم</th>
                <th>الجملة</th>
                <th>نوع</th>
                <th>حالة</th>
                <th>مصدر</th>
                <th>مرجع</th>
                <th>تاريخ الإضافة</th>                
            </tr>
        </tfoot>
    </table>
    <script source=javascript>
    $.fn.dataTable.ext.errMode = 'throw';
function format(d) {
    // `d` is the original data object for the row
    return (
        '<dl>' +
        '<dt>إعرابها:</dt>' +
        '<dd>' +
        d.inflection +
        '</dd>' +
        '</dl>'
    );
}    
let table = new DataTable('#example', {
    ajax: {
        url: 'http://127.0.0.1:5000/ajaxGet?text=&action=GetAll',
        dataSrc: 'result'
    },
    columns: [
            {
            className: 'dt-control',
            orderable: false,
            data: null,
            defaultContent: ''
        },
        { data: 'id' },
        { data: 'phrase' },
        //~ { data: 'inflection' },
        { data: 'type' },
        
        { data: 'state' },
        { data: 'source' },
        { data: 'reference' },
        { data: 'date'}
    ],
    language: {
        url: 'locales/ar.json'
    }
});
// Add event listener for opening and closing details
table.on('click', 'td.dt-control', function (e) {
    let tr = e.target.closest('tr');
    let row = table.row(tr);
 
    if (row.child.isShown()) {
        // This row is already open - close it
        row.child.hide();
    }
    else {
        // Open this row
        row.child(format(row.data())).show();
    }
});
</script>   
</body>

</html>
